* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --section-background: #2e2f35;
    --letters: #ffffff;
    --elements-background: #442B48;
    --font-text: grey;
}

header {
    background-color: var(--section-background);
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    margin-bottom: 15px;
}

.logo {
    width: 10vw;
}

.logo img {
    width: 100%;
    border-radius: 50%;
}

h1,
span {
    color: var(--letters);
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 8px white;
}

h3 {
    margin: 2rem 0;
}


#nome-msg>span>i {
    font-size: 15px;
}

#menu {
    display: flex;
    align-items: center;
}

nav>ul {
    list-style: none;
    display: flex;
}

a:link,
a:visited {
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    background-color: var(--elements-background);
    color: var(--letters);
    border: 1px solid #B98EA7;
}

a:hover {
    background-color: #B98EA7;
    border-color: var(--elements-background);
}


#input {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

#input-text {
    width: 50vw;
    margin: auto;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5rem;
}

label {
    display: block;
}

.news {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

legend {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

input,
textarea,
select {
    margin: 0.5rem 0;
    width: 90%;
    min-height: 2em;
}

#cards {
    display: flex;
    flex-direction: column;
    width: 75vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.post {
    margin: 1vh;
    width: 50%;
    border: 1px solid var(--section-background);
    box-shadow: 2px 2px 8px var(--elements-background);
}

.post>figure {
    margin-bottom: 50px;
}

.post>figure>img {
    width: 100%;
}

.post>figure>figcaption {
    font-size: 0.8em;
}

.post p {
    text-align: justify;
    color: var(--font-text);
    font-weight: 700;
}

table,
th,
td,
tr {
    border: 1px solid black;
}

footer {
    background-color: var(--section-background);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    color: white;
    font-size: 0.8rem;
}

#rights {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



p {
    display: inline;
}

@media screen and (max-width: 480px) {

    header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #nome-msg {
        visibility: hidden;
    }

    #container {
        justify-content: center;
    }

    #cards {
        width: 100%;
    }

}